@using LogansFerry.TradingSuite.WebApp
@model System.Web.Mvc.HandleErrorInfo

@{ 
 ViewBag.Title = "Error"; 
}

@section MainContent { 
<h2>
        Sorry, an error occurred while processing your request.
    </h2> 
}
